html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  min-height: 100vh;
  place-items: center;
}

.grid-container img {
  height: 180px;
}

.grid-container img:nth-child(10),
.grid-container img:nth-child(11),
.grid-container img:nth-child(12) {
  display: none;
}

@media screen and (max-width: 575px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 20px 0;
  }

  .grid-container img {
    height: 120px;
  }

  .grid-container img:nth-child(10),
  .grid-container img:nth-child(11),
  .grid-container img:nth-child(12) {
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .grid-container img {
    height: 240px;
  }
}